.welcome-config{
    justify-content: center;
    align-items: center;
    background: #333333;
}

.box {
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    padding-bottom: 205px;
}

input {
    margin-top: 18px;
}

.tasasNE{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tipocamb{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parraf_config {
    padding-top: 70px;
    display: block;
    text-align: center;
}

@media screen and (max-width: 740px) {
    .box {
        width: 470px;
        margin-top: 10px;
    }
}